//Variables


//Text Colors
$red: #ff585b;
$black: #343538;

//Structure Colors
$bar-lightgrey: #d3d6dc;



//*****Button*****
$main-button-height: 62px;

//Buttons Colors
$button-grey: #6c778c;
$button-grey-text: #343538;

